<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
</head>

<body>

    <div id="app">
        <div class="container">
            <!-- tabindex="0" -->
            <div class="slider-wrapper" v-for="(slide,i) in slides">
                <div class="item" v-if="activeSlide===i">
                    <img :src="'./assets/' + slide.image" :alt="slide.title">
                    <div class="text">
                        <h3>{{slide.title}}</h3>
                        <p>
                            {{slide.text}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="thumbs">
                <div class="prev" @click="nextSlide"></div>
                <div class="next" @click="prevSlide"></div>
                <div class="thumb" v-for="(slide,i) in slides">
                    <img :src="'./assets/' + slide.image" :alt="slide.title" @click="currentSlide(i)">
                </div>
            </div>


        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./assets/js/script.js"></script>
</body>

</html>